{% extends "Base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/Home">Home</a>
                <a class="nav-item nav-link" href="/Buy_house_prediction">Should I buy that house?</a>
                <a class="nav-item nav-link" href="/Sell_house_prediction"><b>How much is my house worth?</b></a>
                <a class="nav-item nav-link" href="/About">About</a>
                
            </div>
        </div>
    </nav> 
    <header><h2 align=center> <u> 開発中: Section in construction </u></h2></header>
    <br>

      

{% endblock %}
